.slide {
  width: 10rem;
  height: 10.5rem;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}

.active-anim {
  opacity: 1;
}
  
.btn-slide {
  background: none;
  color: #9e9a9a;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
  
.prev {
  top: -60%;
  right: -0.5rem;
  transform: translateY(-60%);
}

.next {
  top: -50%;
  left: 6.5rem;
  transform: translateY(-60%);
}
